<header>
  <nav>
    <div class="nav-wrapper amber">
      <div class="row">
        
          <a href="#" class="brand-logo">Painel</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
              <a href="sass.html">Sass</a>
            </li>
          </ul>        
      </div>
    </div>
  </nav>
</header>
<main>
  
</main>
<footer class="page-footer amber lighten3">
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>